# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Tool Cache
# ==========================
.pytest_cache/
.mypy_cache/