fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
langchain
langchain-google-genai
langgraph
chromadb
pymupdf
python-multipart
httpx
scikit-learn
sentence-transformers
transformers
torch